{% extends 'main_app/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<div class="standard-command-container">
    <h1>Terms of Service for SellFast SaaS Software</h1>
	<p>Welcome to SellFast, a SaaS software designed to help businesses grow and streamline their marketing efforts. By using our software, you agree to the following terms of service:</p>
	<ol>
		<li><strong>Acceptance of Terms:</strong> By accessing and using our software, you agree to be bound by these terms of service, as well as any additional terms and policies that may be posted on our website from time to time. If you do not agree to these terms, please do not use our software.</li>
		<li><strong>Use of Software:</strong> You may use our software solely for your own internal business purposes. You may not use our software for any illegal or unethical purposes, including but not limited to spamming, phishing, or distributing malware.</li>
		<li><strong>Data Usage:</strong> We respect your privacy and will not sell your data to third parties. However, we may use your data for marketing purposes, such as analyzing trends and creating reports. By using our software, you agree to our data usage policy.</li>
		<li><strong>Intellectual Property:</strong> The software and all related intellectual property rights are owned by SellFast. You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, software, products or services obtained from our software.</li>
		<li><strong>Termination:</strong> We may terminate your use of our software at any time if we believe you have violated these terms of service. You may also terminate your use of our software at any time by providing us with written notice.</li>
		<li><strong>Disclaimer of Warranties:</strong> Our software is provided "as is" without warranty of any kind, either express or implied, including without limitation, any warranty of merchantability, fitness for a particular purpose, or non-infringement. We do not warrant that our software will be error-free or uninterrupted.</li>
		<li><strong>Limitation of Liability:</strong> We shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in any way connected with the use of our software, even if we have been advised of the possibility of such damages.</li>
		<li><strong>Indemnification:</strong> You agree to indemnify and hold harmless SellFast, its affiliates, officers, directors, employees, agents, and licensors from and against any and all claims, damages, liabilities, costs, and expenses, including reasonable attorneys' fees, arising from or in connection with your use of our software.</li>
		<li><strong>Entire Agreement:</strong> These terms of service constitute the entire agreement between you and SellFast with respect to the use of our software and supersede all prior or contemporaneous communications and proposals, whether oral or written, between you and SellFast. Any waiver of any provision of these terms of service will be effective only if in writing and signed by SellFast.</li>
	</ol>
</div>


{% endblock %}

