{% extends 'mainapp/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<main role="main" class="container">
    <h3>Select marketplace</h3>
    {{selected_items}}
    <form action="export-start" method="post">
        {% csrf_token %}

        <input type="hidden" id="selecteditems" name="selected-items" value="{{selected_items}}">
        {{ export_setup_form.pricepercentageincrease }}
        {{ export_setup_form.selectcategories }}
        {{ export_setup_form.marketplace }}
        <div class="button" style="text-align: center;">
            <input id='startimport' type="submit" value="start import items" name="start-import-items">
        </div>
    </form>
    <!-- woocommerce categories ids-->
    <div>
      {% for category in woocommerce_categories %}

      <ul>
        <li>id: {{category.id}} name: {{category.name}} slug: {{category.slug}}</li>
      </ul>

      {% endfor %}
    </div>


    <form action=""  method="post">
        {% csrf_token %}
        <!--'variantNameEn', 'description','sellPrice', 'variantKey'-->
        <input type="hidden" id="itemandvariantslist" name="item-and-variants-list" value="{{item_and_variants_list}}">
        {% for item_and_variants in item_and_variants_list %}
                <div class="item-form" style="border-color:rgb(255, 0, 0);border-width: 0.5px; border-style: solid none;">
                      <h3>Item</h3>
                    <div class="row">
                        <div class="col-sm-6">
                          sku:  {{item_and_variants.item_form.sku}}
                        </div>
                        <div class="col-sm-4">
                          name:  {{item_and_variants.item_form.itemName}}
                        </div>
                        <div class="col-sm-2">
                          supplier sell price: {{item_and_variants.item_form.supplierSellPrice}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-8">
                          description: <br>  {{item_and_variants.item_form.description }}
                          
                        </div>
                        <div class="col-sm-2">
                          attributes: <br>  {{item_and_variants.item_form.attributes }}
                        </div>
                        <div class="col-sm-2">
                          sell price:  {{item_and_variants.item_form.sellPrice}}
                          {{item_and_variants.item_form.productImage}}
                        </div>
                      </div>
                  </div>
                {% for variant in item_and_variants.variants_forms %}        
                          <div class="variant-form" style="border-color:black;border-width: 0.5px; border-style: solid none; margin-left: 10%;">
                            
                          <h5>Variant</h5>
                    <div class="row">
                        <div class="col-sm-4">
                          sku:  {{variant.variantSku}}
                        </div>
                        <div class="col-sm-6">
                          name:  {{variant.variantNameEn}}
                        </div>
                        <div class="col-sm-2">
                          supplier sell price: {{variant.supplierSellPrice}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-8">
                          description: <br>  {{variant.description }}
                          <br>  
                            {{ variant.allShippingMethods }}
                            <br>
                            {{ variant.allLocations }}
                            
                        </div>
                        <div class="col-sm-2">
                          variant key: <br> {{variant.variantKey}}
                        </div>
                        <div class="col-sm-2">
                          sell price:  {{variant.sellPrice}}
                          {{variant.variantImage}}
                        </div>
                      </div>
                  </div>
                {% endfor %}
        {% endfor %}
        <input type="hidden" id="selecteditems" name="selected-items" value="{{selected_items}}">
        
        <div class="button" style="text-align: center;">
            <input id='startimport' type="submit" value="start import items" name="start-import-items">
        </div>
    </form>
  </main>

{% endblock %}