{% extends 'mainapp/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<main>
    <input type="hidden" id="item" name="item" value="{{item}}">
                <!-- PRODUCT INFORMATION -->
                <div class="standard-command-container">
                    <div class="card">
                        <div class="product-img">
                            <img class="card-img-top" src={{item.productImage}}>
                        </div>
                        <div class="card-body">
                            <form action="inventory-item-detail-view-save-changes" method="post">
                                <p class="card-text">
                                  <b>Item Name</b>
                                  {{item_form.itemName}}
                                  <b>Sell Price</b>
                                  {{item_form.sellPrice}}
                                  <b>SKU</b>
                                  {{item_form.sku}}
                                  <b>Supplier</b>
                                  {{item_form.supplier}}
                                  <b>Supplier price </b>
                                  {{item_form.supplierSellPrice}} 
                                  <b>Category</b>
                                  {{item_form.categoryFirst}}
                                  <b>Attributes</b>
                                  {{item_form.attributes}}
                                  <b>Material</b>
                                  {{item_form.materialNameEn}}
                                  <b>Original description</b>
                                  <div id="original-description" style="font-size: 12px;">
                                      {% autoescape off %}
                                      {{item_original_description}}
                                      {% endautoescape %}
                                  </div>  
                                </p>
                                {% csrf_token %}
                                <div class="button" style="text-align: center;">
                                    <input class="standard-button" style="margin-bottom: 0px !important;" id='save-changes' type="submit" value="Save changes" name="save-changes">
                                </div>
                                <input type="hidden" id="primarykey" name="primary-key" value="{{item.id}}">
                            </form>
                        </div>
                      </div>
                </div>
                <!-- IMAGES CONTROL PANEL -->
                <div class="standard-command-container">
                    <div class="row">
                        <h5><b>Images</b></h5>
                        <p>Remove images you don't need, set the main image and add new ones</p>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <!-- ADD NEW IMAGE BUTTON-->
                            <form action="" method="post">
                            {% csrf_token %}
                                <div class="button" style="text-align: center;">
                                    <input class="standard-button" id='addnewimage' disabled="disabled" type="submit" value="Add image" name="add-new-image">
                                </div>
                                <input type="hidden" id="primarykey" name="primary-key" value="{{item.id}}">
                            </form>
                        </div>
                        <div class="col-10">
                        </div>
                    </div>
                    <div class="row">
                        <table style="margin-top:2em;display: block;overflow-x: auto; white-space: nowrap;">
                            <tr>
                                {% for img in img_set %}
                                <td>
                                    <div style="text-align:center">
                                        <img src={{img}} alt="" width="125" height="125">
                                    </div>
                                    <!-- REMOVE IMAGE BUTTON -->
                                    <br>
                                    <form action="inventory-item-remove-image" method="post">
                                        {% csrf_token %}
                                        <div class="button" style="text-align: center;">
                                            <input class="standard-button" id='removeimg' type="submit" value="Delete" name="remove-img">
                                        </div>
                                        <input type="hidden" id="imgurl" name="img-url" value="{{img}}">
                                        <input type="hidden" id="primarykey" name="primary-key" value="{{item.id}}">
                                    </form>
                                    <!-- SET NEW IMAGE BUTTON -->
                                    <form action="inventory-item-set-main-image" method="post">
                                        {% csrf_token %}
                                        <div class="button" style="text-align: center;">
                                            <input class="standard-button" id='newmainimg' type="submit" value="Set as main" name="new-main-img">
                                        </div>
                                        <input type="hidden" id="imgurl" name="img-url" value="{{img}}">
                                        <input type="hidden" id="primarykey" name="primary-key" value="{{item.id}}">        
                                    </form>
                                </td>
                                {% endfor %}
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- AI DESCRIPTIONS -->
                <div class="standard-command-container">
                    <!-- MAIN DESCRIPTION-->
                    <h5><b>Title and Description Writer</b></h5> <small><i>Powered by GPT-4</i></small>

                    <p style="margin-top: 1em;"><b>Words left:</b> {{request.user.words}}</p>
                    <p>Write optimized titles for search engine results in seconds.</p>
                    <div style="margin-top:0.5em; margin-bottom:1em;">
                        <button class="standard-button" id="OpenModalTitleGPT" onclick="open_modal(this.id)">Generate Title</button>
                      </div>
                    <p>Write product descriptions with optional features such as bullet points lists, emojies and SEO optimized content. Improve SEO rankings and increase sales.</p>
                    <div style="margin-top:0.5em; margin-bottom:1em;">
                      <button class="standard-button" id="OpenModalDescriptionGPT" onclick="open_modal(this.id)">Generate Description</button>
                    </div>
                </div>
                <!-- VARIANTS -->
                <div class="standard-command-container">
                  <div style="text-align:center">
                    <button class="standard-button" id="show-variants" onclick="show_hide_variants()">Variants</button>
                  </div>
                  <div id="variants-div" hidden="hidden">
                    {% for variant in variants %}
                    <div class="card bg-light mb-3" style="max-width:100%; max-height: 20em;">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group" style="text-align: center;">
                              <img src="{{variant.variantImage}}" width="200px" height="200px" style="padding: 2px;">
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="shipping_customer_name-modal" style="text-align:left;font-size:12px">Variant Name</label>
                              <input type="text" id="" name="" class="form-control" style="margin-bottom:4px;font-size:12px" value="{{variant.variantNameEn}}">
                              <label for="shipping_customer_name-modal" style="text-align:left;font-size:12px">Variant Name</label>
                              <input type="text" id="" name="" class="form-control" style="margin-bottom:4px;font-size:12px" value="{{variant.sellPrice}}">
                              <label for="shipping_customer_name-modal" style="text-align:left;font-size:12px">Variant Name</label>
                              <input type="text" id="" name="" class="form-control" style="margin-bottom:4px;font-size:12px" value="{{variant.variantKey}}">
                              <input type="hidden" id='variant-id' name="variant-id" value="{{variant.vid}}">
                              
                            </div>
                          </div>
                        </div>
                  
                      </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <!-- SHIPPING -->
                <div class="standard-command-container" id="calc-shipping" style="font-family: Poppins">
                  <label for="calc-shipping-options">Ship to:</label>
                        <select class="country-select form-control" name="calc-shipping" id="calc-shipping-options">
                          <option value="none" selected="selected"></option>
                          <option value="AR" data-icon="https://www.countryflags.io/ar/flat/64.png">Argentina</option>
                          <option value="AU" data-icon="https://www.countryflags.io/au/flat/64.png">Australia</option>
                          <option value="AT" data-icon="https://www.countryflags.io/at/flat/64.png">Austria</option>
                          <option value="BD" data-icon="https://www.countryflags.io/bd/flat/64.png">Bangladesh</option>
                          <option value="BE" data-icon="https://www.countryflags.io/be/flat/64.png">Belgium</option>
                          <option value="BR" data-icon="https://www.countryflags.io/br/flat/64.png">Brazil</option>
                          <option value="CA" data-icon="https://www.countryflags.io/ca/flat/64.png">Canada</option>
                          <option value="CL" data-icon="https://www.countryflags.io/cl/flat/64.png">Chile</option>
                          <option value="CN" data-icon="https://www.countryflags.io/cn/flat/64.png">China</option>
                          <option value="CO" data-icon="https://www.countryflags.io/co/flat/64.png">Colombia</option>
                          <option value="CZ" data-icon="https://www.countryflags.io/cz/flat/64.png">Czech Republic</option>
                          <option value="EG" data-icon="https://www.countryflags.io/eg/flat/64.png">Egypt</option>
                          <option value="FR" data-icon="https://www.countryflags.io/fr/flat/64.png">France</option>
                          <option value="DE" data-icon="https://www.countryflags.io/de/flat/64.png">Germany</option>
                          <option value="GR" data-icon="https://www.countryflags.io/gr/flat/64.png">Greece</option>
                          <option value="HU" data-icon="https://www.countryflags.io/hu/flat/64.png">Hungary</option>
                          <option value="IN" data-icon="https://www.countryflags.io/in/flat/64.png">India</option>
                          <option value="ID" data-icon="https://www.countryflags.io/id/flat/64.png">Indonesia</option>
                          <option value="IR" data-icon="https://www.countryflags.io/ir/flat/64.png">Iran</option>
                          <option value="IQ" data-icon="https://www.countryflags.io/iq/flat/64.png">Iraq</option>
                          <option value="IE" data-icon="https://www.countryflags.io/ie/flat/64.png">Ireland</option>
                          <option value="IL" data-icon="https://www.countryflags.io/il/flat/64.png">Israel</option>
                          <option value="IT" data-icon="https://www.countryflags.io/it/flat/64.png">Italy</option>
                          <option value="JP" data-icon="https://www.countryflags.io/jp/flat/64.png">Japan</option>
                          <option value="KR" data-icon="https://www.countryflags.io/kr/flat/64.png">South Korea</option>
                          <option value="MY" data-icon="https://www.countryflags.io/my/flat/64.png">Malaysia</option>
                          <option value="MX" data-icon="https://www.countryflags.io/mx/flat/64.png">Mexico</option>
                          <option value="NL" data-icon="https://www.countryflags.io/nl/flat/64.png">Netherlands</option>
                          <option value="NG" data-icon="https://www.countryflags.io/ng/flat/64.png">Nigeria</option>
                          <option value="NO" data-icon="https://www.countryflags.io/no/flat/64.png">Norway</option>
                          <option value="PK" data-icon="https://www.countryflags.io/pk/flat/64.png">Pakistan</option>
                          <option value="PE" data-icon="https://www.countryflags.io/pe/flat/64.png">Peru</option>
                          <option value="PH" data-icon="https://www.countryflags.io/ph/flat/64.png">Philippines</option>
                          <option value="PL" data-icon="https://www.countryflags.io/pl/flat/64.png">Poland</option>
                          <option value="PT" data-icon="https://www.countryflags.io/pt/flat/64.png">Portugal</option>
                          <option value="RO" data-icon="https://www.countryflags.io/ro/flat/64.png">Romania</option>
                          <option value="RU" data-icon="https://www.countryflags.io/ru/flat/64.png">Russia</option>
                          <option value="SA" data-icon="https://www.countryflags.io/sa/flat/64.png">Saudi Arabia</option>
                          <option value="ZA" data-icon="https://www.countryflags.io/za/flat/64.png">South Africa</option>
                          <option value="SG" data-icon="https://www.countryflags.io/sg/flat/64.png">Singapore</option>
                          <option value="ES" data-icon="https://www.countryflags.io/es/flat/64.png">Spain</option>
                          <option value="SE" data-icon="https://www.countryflags.io/se/flat/64.png">Sweden</option>
                          <option value="CH" data-icon="https://www.countryflags.io/ch/flat/64.png">Switzerland</option>
                          <option value="TH" data-icon="https://www.countryflags.io/th/flat/64.png">Thailand</option>
                          <option value="TR" data-icon="https://www.countryflags.io/tr/flat/64.png">Turkey</option>
                          <option value="UA" data-icon="https://www.countryflags.io/ua/flat/64.png">Ukraine</option>
                          <option value="AE" data-icon="https://www.countryflags.io/ae/flat/64.png">United Arab Emirates</option>
                          <option value="GB" data-icon="https://www.countryflags.io/gb/flat/64.png">United Kingdom</option>
                          <option value="US" data-icon="https://www.countryflags.io/us/flat/64.png">United States</option>
                          <option value="VE" data-icon="https://www.countryflags.io/ve/flat/64.png">Venezuela</option>
                          <option value="VN" data-icon="https://www.countryflags.io/vn/flat/64.png">Vietnam</option>
                        </select>
                        <div style="text-align: center;margin-top:1em;">
                          <button id="calc-shipping-button" class="standard-button" onclick="calc_shipping()">Estimate shipping</button>
                        </div>
              
                        <ul id="shipping-options" class="list-group">
                              <!-- SHIPPING OPTIONS -->
                        </ul>
              </div>
              <!-- SEARCH SIMILAR ITEMS -->
              <div class="standard-command-container">
                <div class="row">
                    <h5><b>Search Similar Items</b></h5>
                    <p>Search for similar items on Ebay, Amazon, etc.</p>
                </div>
                <div class="row">
                    <form action="inventory-item-search-similar-items" method="post">
                        {% csrf_token %}
                            <div class="button">
                                <input class="standard-button" style="margin-bottom: 0px !important;" id='search-similar-item-name' type="submit" value="Search" name="search-similar-item-name">
                            </div>
                            <input type="hidden" id="primarykey" name="primary-key" value="{{item.id}}">
                            <input type="hidden" id="itemname" name="item-name" value="{{item.itemName}}">
                        </form>
                </div>
            </div>
                <!-- INSTAGRAM -->
                <div class="standard-command-container">
                    <div class="row">
                        <h5><b>Share</b></h5>
                        <p>Share your product on social media</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <form action="" method="post">
                            {% csrf_token %}
                                <div class="button">
                                    <input class="standard-button" style="margin-bottom: 0px !important;" id='create-ig-post' type="submit" value="Share on Social Media" name="create-ig-post">                                   
                                </div>
                                <input type="hidden" id="primarykey" name="primary-key" value="{{item.id}}">
                            </form>
                        </div>
                        <div class="col-6">
                            
                        </div>
                    </div>
                </div>
                
<!-- WRITE TITLE MODAL -->
<div id="modal-write-title-gpt" class="modal-container">
    <div class="modal-content">
      <span id="close-modal-write-title-gpt" class="close">&times;</span>
      <div id="loader-title" hidden class="loader"></div>
      <div>
        <p>Actual title for this product: </p>
        <p>{{item_form.itemName}}</p>
        <div class="form-group">
          <div id="keywords-insert-div">
            <label for="keywords-insert">Enter the keywords you want in the title</label>
            <input id="keywords-insert" class="form-control" type="text">
            <small id="keywords-insertHelp" class="form-text text-muted">Write keywords separated by commas.</small>
            <button id="gpt-suggest-keywords-button" class="standard-button" onclick="gpt_suggest_keywords()">Suggest keywords</button>
          </div>
          <div id="max-characters-div">
            <label for="max-characters">Max characters</label>
            <input id="max-characters" class="form-control" type="number" value="80" required>
            <small id="max-charactersHelp" class="form-text text-muted">80 characters correspond to approximately 10 words.</small>
          </div>
        </div>
      </div>
      <div id="" style="margin-top: 1em; text-align:center;">
        <!-- Write button --> 
        <button id="gpt-write-button" class="standard-button" onclick="gpt_write_title()">Write title</button>
        <!-- Save button -->
        <form action="inventory-item-save-gpt-title" method="POST">
          {% csrf_token %}
          <div>
            <textarea id="generated-title" name="text-area-generated-title" class="textarea-gpt" rows="4" cols="50" hidden></textarea>
          </div>
          <div name ="save-or-generate-title-div" id="save-or-generate-title-div-id">
            <button id="gpt-save-button" class="standard-button">Save</button>
            <input type="hidden" id="primarykey-savetitle" name="primary-key" value="{{item.id}}">
          </div>
        </form>
        <!-- Try again button -->
        <div name="save-or-generate-title-div">
            <button id="gpt-re-write-button" class="standard-button" onclick="gpt_write_title()">Try again</button>
        </div>
        
      </div>
    </div>
  </div>
  <!-- WRITE DESCRIPTION MODAL -->
  <div id="modal-write-description-gpt" class="modal-container">
    <div class="modal-content">
      <span id="close-modal-write-description-gpt" class="close">&times;</span>
      <div hidden="hidden" id="loader-description" class="loader"></div>
      <div id="" style="margin-top: 1em;">
        {{gpt_write_dscription_form|crispy}}
      </div>
      
      <div style="text-align: center;">
        <button id="gpt-write-description-button" class="standard-button" onclick="gpt_write_description()"> Write Description</button>
      
      <!-- Save button -->
      <form action="inventory-item-save-gpt-description" method="POST">
        {% csrf_token %}
        <div>
            <textarea id="generated-description" name="text-area-generated-description" class="textarea-gpt" rows="4" cols="50" hidden="hidden"></textarea>
         </div>
        <div name ="save-or-generate-description-div" id="save-or-generate-title-div-id">
            <button id="gpt-save-description-button" class="standard-button" onclick=""> Save</button>
          <input type="hidden" id="primarykey-savetitle" name="primary-key" value="{{item.id}}">
        </div>
      </form>
      <!-- Try again button -->
      <div name="save-or-generate-description-div">
        <button id="gpt-re-write-description-button" class="standard-button" onclick="gpt_write_description()"> Try again</button>
    </div>
</div>


    </div>
  </div>
</main>
<script>


    window.onload = function() {
          
      
      let at_from_js = cj_get_access_token()
      
      var img_urls = document.querySelectorAll("[name^=variant-img-url-]")
      var img_tags = document.querySelectorAll("[name^=variant-img-url-]")

      console.log(img_urls)
      img_urls.forEach((url)=>{
        console.log(url.value)
      })

        
    }


    async function cj_get_access_token() {
                let url = 'https://developers.cjdropshipping.com/api2.0/v1/authentication/getAccessToken';
                let data = {
                  email: "{{user.cjdropshipping_email}}",
                  password: "{{user.cjdropshipping_api_key}}"
                };
                let auth_resp = await fetch(url, {
                  method: 'POST',
                  body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                  console.log(data)
                  return data['data']['accessToken'];
                })
                .catch(error => {
                  console.error(error);
                });
              }
    
    function calc_shipping(){
        document.getElementById('shipping-options').innerHTML = ''

        var ship_to = document.getElementById("calc-shipping-options").value;
        const access_token = "{{cj_access_token}}"
        variants_ids = document.getElementsByName('variant-id')
        const vid = variants_ids[0].value
        const url = 'https://developers.cjdropshipping.com/api2.0/v1/logistic/freightCalculate';
        const data = { 
                        "startCountryCode": "CN",
                        "endCountryCode": ship_to,
                        "products": [
                                    {
                                        "quantity": 1,
                                        "vid": vid
                                    }
                                ]
                            };
        fetch(url, {
          method: 'POST',
          body: JSON.stringify(data),
          headers:{
            'Content-Type': 'application/json',
            "CJ-Access-Token": access_token,
          }
        })
        .then(response => response.json())
        .then(data => {
          console.log(data)
          var shipping_options = data['data']
          var options_list = document.getElementById('shipping-options')
          console.log(options_list)

          if (shipping_options.length == 0){
            options_list.innerHTML += '<li style="font-size: 15px;" class="list-group-item"><p>No shipping methods found for this destination.</p></li>'  
          }else{
            shipping_options.forEach((option) => {
              options_list.innerHTML += '<li style="font-size: 15px;" class="list-group-item"><p><b>'+ option['logisticName'] + '</b></p><p>' + option['logisticAging'] + ' days / ' + option['logisticPrice'] +' $</p></li>'        
            })
          }
          
          /*
          console.log(shipping_options)
          for (option in shipping_options){
            console.log(option["logisticAging"])
          }*/

        })
        .catch(error => {
          console.error('Error:', error);
        });
    }

    function open_modal(button_id){
          //var action = document.getElementById("action-options").value;
          //button_id
          //var selected_items = document.getElementsByName("selected-items")[0].value
          if (button_id == "OpenModalTitleGPT"){
            document.getElementById('gpt-write-button').removeAttribute("hidden");
            document.getElementById('generated-title').setAttribute("hidden", "hidden");
            //hidden_el = document.getElementsByName('save-or-generate-title-div') //.setAttribute("hidden", "hidden");
            document.getElementsByName('save-or-generate-title-div').forEach((el) => {
            el.setAttribute("hidden", "hidden");
            });
            document.getElementById('keywords-insert').value = "";
            document.getElementById('max-characters').value = "80";
            let modal = document.getElementById("modal-write-title-gpt");
            let close = document.getElementById("close-modal-write-title-gpt");
            close.onclick = function() {
                //reset_modals()
                modal.style.display = "none";
            }
            modal.style.display = "block";
          }
          else if (button_id == "OpenModalDescriptionGPT"){
            document.getElementById('gpt-write-description-button').removeAttribute("hidden");
            document.getElementById('generated-description').setAttribute("hidden", "hidden");
            document.getElementsByName('save-or-generate-description-div').forEach((el) => {
            el.setAttribute("hidden", "hidden");
            });
            let modal = document.getElementById("modal-write-description-gpt");
            let close = document.getElementById("close-modal-write-description-gpt");
            close.onclick = function() {
              modal.style.display = "none";
            }
            modal.style.display = "block";
          }
          
        }
    
        function reset_modals(){

        }
    
    function hide_keywords_insert() {
        use_keywords_suggested_by_AI = document.getElementById("keywords-suggest-title").checked
        if (use_keywords_suggested_by_AI == true){
            document.getElementById('keywords-insert-div').setAttribute("hidden", "hidden");
        }else{
            document.getElementById('keywords-insert-div').removeAttribute("hidden");
        }
    }

    function update_words(data){
        let csrftoken = "{{csrf_token}}"
        var data_json = {'tokens_used': data['usage']['completion_tokens'], 'csrfmiddlewaretoken': csrftoken};
        console.log(data_json)
        $.ajax({
            method: 'POST',
            url: "{% url 'update-user-words' %}",
            data: data_json,
            success: function (data) {
                //this gets called when server returns an OK response
                console.log(data);
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    function cleanHtml(rawHtml) {
        const cleaner = /<.*?>/g;
        let cleanText = rawHtml.replace(cleaner, '');
        cleanText = cleanText.slice(0, 600);
        return cleanText;
    }

    function show_hide_variants(){
        variants_div = document.getElementById('variants-div')
        is_hidden = variants_div.hidden
        if (is_hidden == true){
            variants_div.removeAttribute('hidden')
        }else {
            variants_div.setAttribute('hidden','hidden')
        }
    }

    async function gpt_write_title(){
        const apiKey = "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";
        const url = "https://api.openai.com/v1/chat/completions";

        let spinner = document.getElementById("loader-title")
        spinner.removeAttribute("hidden");

        let itemName = document.getElementById("id_itemName").value

        let message_1 = "Write one professional and SEO optimized product title for a " + itemName + "."
        let message_2 = document.getElementById("keywords-insert").value

        const requestHeaders = {
          "Content-Type": "application/json",
          "Authorization": `Bearer ${apiKey}`
        };

        const requestData = {
          "model": "gpt-3.5-turbo",
          "messages": [
                      {"role": "system", "content": "You are a product title writer"},
                      {"role": "user", "content": message_1},
                      {"role": "assistant", "content": "Which keywords?"},
                      {"role": "user", "content": message_2},
                      {"role": "user", "content": "Avoid introduction or everything else. Return only the title."},
                    ],
          "temperature": 0.7
        };

        console.log('here2')
        await fetch(url, {
          method: "POST",
          headers: requestHeaders,
          body: JSON.stringify(requestData)
        })
        .then(response => response.json())
        .then((data) => {
            console.log(data)            
            document.getElementById('generated-title').value = data['choices'][0]['message']['content'].replace(/["]+/g, '')
            document.getElementById('generated-title').removeAttribute("hidden");
            document.getElementById('gpt-write-button').setAttribute("hidden", "hidden");
            document.getElementsByName('save-or-generate-title-div').forEach((el) => {
            el.removeAttribute("hidden");
            });
            // UPDATE WORDS COUNTER
            update_words(data)
            /*
            let csrftoken = "{{csrf_token}}"
            var data_json = {'tokens_used': data['usage']['completion_tokens'], 'csrfmiddlewaretoken': csrftoken};
            console.log(data_json)
            $.ajax({
                method: 'POST',
                url: "{% url 'update-user-words' %}",
                data: data_json,
                success: function (data) {
                    //this gets called when server returns an OK response
                    console.log(data);
                },
                error: function (data) {
                    console.log(data);
                }
            });*/
        })
        .catch(error => console.error(error));

        spinner.setAttribute("hidden", "hidden")
    }

    async function gpt_write_description(){
        const apiKey = "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";
        const url = "https://api.openai.com/v1/chat/completions";
        
        let spinner = document.getElementById("loader-description")
        spinner.removeAttribute("hidden");

        let itemName = document.getElementById("id_itemName").value
        let description = document.getElementById("original-description").outerHTML
        console.log(description)
        description = cleanHtml(description)
        console.log(itemName)
        console.log(description)

        const requestHeaders = {
          "Content-Type": "application/json",
          "Authorization": `Bearer ${apiKey}`
        };

        console.log("here")

        message_1 = "Write a professional product description for a " + itemName + " with these features: " //+ description
        //message_2 = "A SEO optimized product description for keywords like: " + keywords
        message_3 = "The description must not contain the title of the product"
        message_4 = "Avoid introduction, just describe the product "

        const requestData = {
          "model": "gpt-3.5-turbo",
          "messages": [
                      {"role": "system", "content": "You are a product description writer"},
                      {"role": "user", "content": message_1},
                      //{"role": "user", "content": message_2},
                      {"role": "user", "content": message_3},
                      {"role": "user", "content":message_4},
                    ],
          "temperature": 0.7
        };

        await fetch(url, {
          method: "POST",
          headers: requestHeaders,
          body: JSON.stringify(requestData)
        })
        .then(response => response.json())
        .then((data) => {
            console.log(data)            
            document.getElementById('generated-description').value = data['choices'][0]['message']['content'].replace(/["]+/g, '')
            document.getElementById('generated-description').removeAttribute("hidden");
            document.getElementById('gpt-write-description-button').setAttribute("hidden", "hidden");
            document.getElementsByName('save-or-generate-description-div').forEach((el) => {
            el.removeAttribute("hidden");
            })

            // UPDATE OWRDS
            update_words(data)            
        })
        .catch(error => console.error(error));

        

        spinner.setAttribute("hidden", "hidden")
    }


    async function gpt_suggest_keywords(){
        const apiKey = "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";
        const url = "https://api.openai.com/v1/chat/completions";

        let spinner = document.getElementById("loader-title")
        spinner.removeAttribute("hidden");

        let itemName = document.getElementById("id_itemName").value

        let message_1 = 'Suggest kewyords for this product: ' + itemName +' .Write keywords in this format: keywords1, keyword2, keyword3, etc. Max 3 keywords'

        const requestHeaders = {
          "Content-Type": "application/json",
          "Authorization": `Bearer ${apiKey}`
        };

        const requestData = {
          "model": "gpt-3.5-turbo",
          "messages": [
                      {"role": "system", "content": "You are a SEO expert"},
                      {"role": "user", "content": message_1},
                    ],
          "temperature": 0.7
        };

        await fetch(url, {
          method: "POST",
          headers: requestHeaders,
          body: JSON.stringify(requestData)
        })
        .then(response => response.json())
        .then((data) => {
            console.log(data)            
            document.getElementById('keywords-insert').value = data['choices'][0]['message']['content']

            update_words(data)
            
        })
        .catch(error => console.error(error));

        spinner.setAttribute("hidden", "hidden")
    }

</script>

{% endblock %}