{% extends 'mainapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

        
<div class="standard-command-container">
    <div class="card-deck" style="margin-top:2em;">
        <div class="index-card shadow card">
          <div class="card-body" style="text-align: center; ">
            <h1 class="pricing-index-card-title">$9.99<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4" style=" text-align: left; display: inline-block;">
              <li><i class="fa-solid fa-check"></i></i> 10+ millions products</li>
              <li><i class="fa-solid fa-check"></i></i> Auto-fulfillment orders</li>
              <li><i class="fa-solid fa-check"></i></i> WooCommerce</li>
              <li><i class="fa-solid fa-check"></i></i> Shopify</li>
              <li><i class="fa-solid fa-check"></i></i> CJDropshipping</li>
              <li><i class="fa-solid fa-check"></i></i> Aliexpress</li>
              <li><i class="fa-solid fa-check"></i></i> Ebay</li>
              <li><i class="fa-solid fa-check"></i></i> Facebook</li>
              <li><i class="fa-solid fa-check"></i></i> Instagram</li>
              <li><i class="fa-solid fa-check"></i></i> GPT-4</li>
              <li><i class="fa-solid fa-check"></i></i> Email Support</li>
            </ul>
            <form action="/create-checkout-session" method="POST">
                <!-- Add a hidden field with the lookup_key of your Price -->
                {% csrf_token %}
                <input type="hidden" name="lookup_key" value="starter" />
                <button class="standard-button" id="checkout-and-portal-button" type="submit">Checkout</button>
              </form>
          </div>
        </div>
        <div class="index-card shadow card">
            <div class="card-body" style="text-align: center; ">
              <h1 class="pricing-index-card-title">$999.99<small class="text-muted fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4" style=" text-align: left; display: inline-block;">
                <li><i class="fa-solid fa-check"></i></i> 10+ millions products</li>
                <li><i class="fa-solid fa-check"></i></i> Auto-fulfillment orders</li>
                <li><i class="fa-solid fa-check"></i></i> WooCommerce</li>
                <li><i class="fa-solid fa-check"></i></i> Shopify</li>
                <li><i class="fa-solid fa-check"></i></i> CJDropshipping</li>
                <li><i class="fa-solid fa-check"></i></i> Aliexpress</li>
                <li><i class="fa-solid fa-check"></i></i> Ebay</li>
                <li><i class="fa-solid fa-check"></i></i> Facebook</li>
                <li><i class="fa-solid fa-check"></i></i> Instagram</li>
                <li><i class="fa-solid fa-check"></i></i> GPT-4</li>
                <li><i class="fa-solid fa-check"></i></i> Email Support</li>
              </ul>
              <form action="/create-checkout-session" method="POST">
                  <!-- Add a hidden field with the lookup_key of your Price -->
                  {% csrf_token %}
                  <input type="hidden" name="lookup_key" value="business" />
                  <button class="standard-button" id="checkout-and-portal-button" type="submit">Checkout</button>
                </form>
            </div>
          </div>
          <!--<form action="/create-portal-session" method="POST">
      <input type="hidden" id="session-id" name="session_id" value="" />
      <button id="checkout-and-portal-button" type="submit">Manage your billing information</button>
    </form>-->
      </div>
</div>

{% endblock %}
