{% extends 'mainapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="standard-command-container">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="smartcopy-menu nav-item" role="presentation">
      <button class="nav-link active" id="pills-blog-article-tab" data-bs-toggle="pill" data-bs-target="#pills-blog-article" type="button" role="tab" aria-controls="pills-blog-article" aria-selected="true"><i class="fa-solid fa-blog"></i> Blog</button>
    </li>
    <li class="smartcopy-menu nav-item" role="presentation">
      <button class="nav-link" id="pills-facebook-ads-tab" data-bs-toggle="pill" data-bs-target="#pills-facebook-ads" type="button" role="tab" aria-controls="pills-facebook-ads" aria-selected="false"><i class="fa-brands fa-facebook-f"></i> Facebook</button>
    </li>
    <li class="smartcopy-menu nav-item" role="presentation">
      <button class="nav-link" id="pills-instagram-ads-tab" data-bs-toggle="pill" data-bs-target="#pills-instagram-ads" type="button" role="tab" aria-controls="pills-instagram-ads" aria-selected="false"><i class="fa-brands fa-instagram"></i> Instagram</button>
    </li>
    <li class="smartcopy-menu nav-item" role="presentation">
      <button class="nav-link" id="pills-google-ads-tab" data-bs-toggle="pill" data-bs-target="#pills-google-ads" type="button" role="tab" aria-controls="pills-google-ads" aria-selected="false"><i class="fa-brands fa-google"></i> Google</button>
    </li>
    <li class="smartcopy-menu nav-item" role="presentation">
      <button class="nav-link" id="pills-amazon-ads-tab" data-bs-toggle="pill" data-bs-target="#pills-amazon-ads" type="button" role="tab" aria-controls="pills-amazon-ads" aria-selected="false"><i class="fa-brands fa-amazon"></i> Amazon</button>
    </li>
    <li class="smartcopy-menu nav-item" role="presentation">
      <button class="nav-link" id="pills-ebay-ads-tab" data-bs-toggle="pill" data-bs-target="#pills-ebay-ads" type="button" role="tab" aria-controls="pills-ebay-ads" aria-selected="false"> <i class="fa-brands fa-ebay"></i> Ebay</button>
    </li>
    <li class="smartcopy-menu nav-item" role="presentation">
      <button class="nav-link" id="pills-landing-page-tab" data-bs-toggle="pill" data-bs-target="#pills-landing-page" type="button" role="tab" aria-controls="pills-landing-page" aria-selected="false"><i class="fa-regular fa-file-lines"></i> Landing Page</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-blog-article" role="tabpanel" aria-labelledby="pills-blog-article-tab">
      <div class="card-deck">
        <div class="shadow card">
            <div class="card-body" >

                <h5 class="smartcopy-card-title" ><b>Blog Writing</b></h5>
              <p class="index-card-text card-text" >Blog articles tailored to your niche</p>
              <form action="smartcopy-play" method="post">
                {% csrf_token %}
                <div class="button" style="text-align: center;">
                  <input class="words-button" id='syncebay' type="submit" value=">" >
                  <input type="hidden" value="blog-article" name="service">
                </div>
                </form>
            </div>
          </div>
          <div class="shadow card">
            <div class="card-body">

                <h5 class="smartcopy-card-title"><b>Blog Ideas</b></h5>
              <p class="index-card-text card-text">Ideas for your blog articles</p>
              <form action="smartcopy-play" method="post">
                {% csrf_token %}
                <div class="button" style="text-align: center;">
                  <input class="words-button" id='syncebay' type="submit" value=">" >
                  <input type="hidden" value="blog-ideas" name="service">
                </div>
                </form>
            </div>
          </div>
          <div class="shadow card">
            <div class="card-body">

                <h5 class="smartcopy-card-title"><b>Blog Plagiarism</b></h5>
              <p class="index-card-text card-text">Check if your content is unique</p>
              <form action="smartcopy-play" method="post">
                {% csrf_token %}
                <div class="button" style="text-align: center;">
                  <input class="words-button" id='syncebay' type="submit" value=">" >
                  <input type="hidden" value="blog-plagiarism" name="service">
                </div>
                </form>
            </div>
          </div>
      </div>
    </div>
    <!-- FACEBOOK -->
    <div class="tab-pane fade" id="pills-facebook-ads" role="tabpanel" aria-labelledby="pills-facebook-ads-tab">
      <div class="card-deck">
        <div class="shadow card">
            <div class="card-body" >

                <h5 class="smartcopy-card-title" ><b>Facebook Ads</b></h5>
              <p class="index-card-text card-text" >High converting custom ads</p>
              <form action="smartcopy-play" method="post">
                {% csrf_token %}
                <div class="button" style="text-align: center;">
                  <input class="words-button" id='syncebay' type="submit" value=">" >
                  <input type="hidden" value="facebook-ads" name="service">
                </div>
                </form>
            </div>
          </div>
          <div class="shadow card">
            <div class="card-body">

                <h5 class="smartcopy-card-title"><b>Facebook Post</b></h5>
              <p class="index-card-text card-text">Posts to engage your followers</p>
              <form action="smartcopy-play" method="post">
                {% csrf_token %}
                <div class="button" style="text-align: center;">
                  <input class="words-button" id='syncebay' type="submit" value=">" >
                  <input type="hidden" value="facebook-post" name="service">
                </div>
                </form>
            </div>
          </div>
          <div class="shadow card">
            <div class="card-body">

                <h5 class="smartcopy-card-title"><b>Facebook Post Ideas</b></h5>
              <p class="index-card-text card-text">Ideas for Facebook posts based on analytics </p>
              <form action="smartcopy-play" method="post">
                {% csrf_token %}
                <div class="button" style="text-align: center;">
                  <input class="words-button" id='syncebay' type="submit" value=">" >
                  <input type="hidden" value="facebook-post-ideas" name="service">
                </div>
                </form>
            </div>
          </div>
      </div>
    </div>
    <!-- INSTAGRAM TAB CONTENT-->
    <div class="tab-pane fade" id="pills-instagram-ads" role="tabpanel" aria-labelledby="pills-instagram-ads-tab">
      <div class="card-deck">
        <div class="shadow card">
            <div class="card-body" >

                <h5 class="smartcopy-card-title" ><b>Instagram Post</b></h5>
              <p class="index-card-text card-text" >Custom Instagram posts</p>
              <form action="smartcopy-play" method="post">
                {% csrf_token %}
                <div class="button" style="text-align: center;">
                  <input class="words-button" id='syncebay' type="submit" value=">" >
                  <input type="hidden" value="instagram-post" name="service">
                </div>
                </form>
            </div>
          </div>
          <div class="shadow card">
            <div class="card-body">

                <h5 class="smartcopy-card-title"><b>Instagram Tags</b></h5>
              <p class="index-card-text card-text">Find popular tags by niche</p>
              <form action="smartcopy-play" method="post">
                {% csrf_token %}
                <div class="button" style="text-align: center;">
                  <input class="words-button" id='syncebay' type="submit" value=">" >
                  <input type="hidden" value="instagram-tags" name="service">
                </div>
                </form>
            </div>
          </div>

      </div>
    </div>
    <!-- GOOGLE TAB CONTENT -->
    <div class="tab-pane fade" id="pills-google-ads" role="tabpanel" aria-labelledby="pills-google-ads-tab">
      <div class="card-deck">
        <div class="shadow card">
            <div class="card-body" >

                <h5 class="smartcopy-card-title" ><b>Google Ads Title</b></h5>
              <p class="index-card-text card-text" >Custom Instagram posts</p>
              <form action="smartcopy-play" method="post">
                {% csrf_token %}
                <div class="button" style="text-align: center;">
                  <input class="words-button" id='syncebay' type="submit" value=">" >
                  <input type="hidden" value="google-ads-title" name="service">
                </div>
                </form>
            </div>
          </div>
          <div class="shadow card">
            <div class="card-body">

                <h5 class="smartcopy-card-title"><b>Google Ads Description</b></h5>
              <p class="index-card-text card-text">Find popular tags by niche</p>
              <form action="smartcopy-play" method="post">
                {% csrf_token %}
                <div class="button" style="text-align: center;">
                  <input class="words-button" id='syncebay' type="submit" value=">" >
                  <input type="hidden" value="google-ads-description" name="service">
                </div>
                </form>
            </div>
          </div>
          <div class="shadow card">
            <div class="card-body" >

                <h5 class="smartcopy-card-title" ><b>Google SEO Meta Description</b></h5>
              <p class="index-card-text card-text" >Optimized meta-descriptions for your web pages</p>
              <form action="smartcopy-play" method="post">
                {% csrf_token %}
                <div class="button" style="text-align: center;">
                  <input class="words-button" id='syncebay' type="submit" value=">" >
                  <input type="hidden" value="google-ads-title" name="service">
                </div>
                </form>
            </div>
          </div>
          <div class="shadow card">
            <div class="card-body">

                <h5 class="smartcopy-card-title"><b>Google SEO Meta Title</b></h5>
              <p class="index-card-text card-text">Optimized meta-titles for your web pages</p>
              <form action="smartcopy-play" method="post">
                {% csrf_token %}
                <div class="button" style="text-align: center;">
                  <input class="words-button" id='syncebay' type="submit" value=">" >
                  <input type="hidden" value="google-ads-description" name="service">
                </div>
                </form>
            </div>
          </div>

      </div>
    </div>
    <!-- AMAZON TAB CONTENT -->
    <div class="tab-pane fade" id="pills-amazon-ads" role="tabpanel" aria-labelledby="pills-amazon-ads-tab">...</div>
    <div class="tab-pane fade" id="pills-ebay-ads" role="tabpanel" aria-labelledby="pills-ebay-ads-tab">...</div>
    <div class="tab-pane fade" id="pills-landing-page" role="tabpanel" aria-labelledby="pills-landing-page-tab">...</div>
    
  </div>
</div>
<script>

</script>
{% endblock %}