

{% extends 'mainapp/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

    

<div class="standard-command-container">

    
    <h3 style="font-family:'Raleway', sans-serif; color:rgb(64, 106, 212)">
        {{service_title}}
    </h3>
    

    {% if service in 'blog-plagiarism' %}

    <div class="row">
        {{form.text|as_crispy_field}}
        <div style="text-align: center;">
            <button style="margin-top: 25px;" class="standard-button" id="{{form.form_id.value}}" onclick="smartcopy_write(this.id)">
                Check <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    {% elif service in 'blog-ideas' %}
    <div class="row">
        {{form|crispy}}
        <div style="text-align: center;">
            <button style="margin-top: 25px;" class="standard-button" id="{{form.form_id.value}}" onclick="smartcopy_write(this.id)">
                Write <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    {% else %}
    {{form|crispy}}
    <div class="row">
        <input type="hidden" value="{{form.form_id.value}}" id="service-id">
            <div style="text-align: left;">
                <button class="standard-button" id="suggest-keywords">
                    Suggest keywords
                </button>
            </div>      
        <div style="text-align: center;">
            <button style="margin-top: 25px;" class="standard-button" id="{{form.form_id.value}}" onclick="smartcopy_write(this.id)">
                Write <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
        </div>
        
    </div>

    {% endif %}
</div>

<div class="standard-command-container">
        <div>
            <textarea id="generated-text" name="generated-text-area" class="textarea-gpt" rows="30" cols="50" hidden="hidden"></textarea>
        </div>

        <div id="multiple-copies">
            
        </div>
</div>

<!-- SPINNER -->
<div id="loader-smartcopy" hidden class="loader"></div>

<script src="{% static 'smartcopy.js' %}"></script>

<script>
    function smartcopy_write(service_id){
        console.log(service_id)

        document.getElementById('multiple-copies').innerHTML = ''

        const url = "https://api.openai.com/v1/chat/completions";
        const gpt = "{{GPT_KEY}}"
        const headers = {
          "Content-Type": "application/json",
          "Authorization": `Bearer ${gpt}`
        };
        let spinner = document.getElementById("loader-smartcopy")
        spinner.removeAttribute("hidden");

        // BLOG WRITING
        if (service_id == 'blog-article'){
            let topic = document.getElementById('id_topic').value
            let target_audience = document.getElementById('id_target_audience').value
            let keywords = document.getElementById('id_keywords').value
            let tone = document.getElementById('id_tone').value
            let word_count = document.getElementById('id_word_count').value
            let language = document.getElementById('id_language').value
            smartcopy_write_blog_article(service_id, gpt, url, headers, topic, target_audience, keywords, tone, word_count, language)
        }
        // BLOG IDEAS
        else if(service_id == 'blog-ideas'){
            let topic = document.getElementById('id_topic').value
            let target_audience = document.getElementById('id_target_audience').value
            let keywords = document.getElementById('id_keywords').value
            let language = document.getElementById('id_language').value
            smartcopy_blog_ideas(service_id, gpt, url, headers, topic, target_audience, keywords, language)
        }
        // BLOG PLAGIARISM
        else if(service_id == 'blog-plagiarism'){
            let text = document.getElementById('id_text').value
            smartcopy_check_plagiarism(service_id, gpt, url, headers, text)
        }
        // FACEBOOK ADS
        else if(service_id == 'facebook-ads'){
            let topic = document.getElementById('id_topic').value
            let target_audience = document.getElementById('id_target_audience').value
            let keywords = document.getElementById('id_keywords').value
            let tone = document.getElementById('id_tone').value
            let word_count = document.getElementById('id_word_count').value
            let emoji = set_copy_style('emoji', document.getElementById('id_emoji').checked)
            let bullet_list = set_copy_style('bullet_list',document.getElementById('id_bullet_list').checked)
            let n_copies = document.getElementById('id_n_copies').value
            let language = document.getElementById('id_language').value
            text = smartcopy_write_facebook_ads(service_id, gpt, url, headers, topic, target_audience, keywords, tone, word_count, n_copies, emoji, bullet_list, language)
        }
        // FACEBOOK POST
        else if(service_id == 'facebook-post'){
            let topic = document.getElementById('id_topic').value
            let target_audience = document.getElementById('id_target_audience').value
            let keywords = document.getElementById('id_keywords').value
            let tone = document.getElementById('id_tone').value
            let word_count = document.getElementById('id_word_count').value
            let emoji = set_copy_style('emoji', document.getElementById('id_emoji').checked)
            let bullet_list = set_copy_style('bullet_list',document.getElementById('id_bullet_list').checked)
            let n_copies = document.getElementById('id_n_copies').value
            let language = document.getElementById('id_language').value
            text = smartcopy_facebook_post(service_id, gpt, url, headers, topic, target_audience, keywords, tone, word_count, n_copies, emoji, bullet_list, language)
        }
        // FACEBOOK POST IDEAS
        else if(service_id == 'facebook-post-ideas'){
            let topic = document.getElementById('id_topic').value
            let target_audience = document.getElementById('id_target_audience').value
            let keywords = document.getElementById('id_keywords').value
            let language = document.getElementById('id_language').value
            smartcopy_facebook_post_ideas(service_id, gpt, url, headers, topic, target_audience, keywords, language)
        }
        else if(service_id == 'instagram-post'){
            let topic = document.getElementById('id_topic').value
            let target_audience = document.getElementById('id_target_audience').value
            let keywords = document.getElementById('id_keywords').value
            let tone = document.getElementById('id_tone').value
            let word_count = document.getElementById('id_word_count').value
            let emoji = set_copy_style('emoji', document.getElementById('id_emoji').checked)
            let bullet_list = set_copy_style('bullet_list',document.getElementById('id_bullet_list').checked)
            let n_copies = document.getElementById('id_n_copies').value
            let language = document.getElementById('id_language').value

            smartcopy_write_instagram_post(service_id, gpt, url, headers, topic, target_audience, keywords, tone, word_count, n_copies, emoji, bullet_list, language)
        }
        else if(service_id == 'instagram-tags'){
            let topic = document.getElementById('id_topic').value
            let target_audience = document.getElementById('id_target_audience').value
            let keywords = document.getElementById('id_keywords').value
            let language = document.getElementById('id_language').value
            smartcopy_write_instagram_tags(service_id, gpt, url, headers, topic, target_audience, keywords, language)
        }
        else if(service_id == 'google-ads-title'){
        }
        else if(service_id == 'google-ads-description'){
        }
        else if(service_id == 'email-marketing'){

        }else if(service_id == 'amazon-description'){

        }

    }

    async function smartcopy_write_blog_article(service_id, gpt, url, headers, topic, target_audience, keywords, tone, word_count, language){
        const requestData = {
          "model": "gpt-3.5-turbo",
          "messages": [
                      {"role": "system", "content": "You are a blog article writer"},
                      {"role": "user", "content": "Write a " + tone + " blog article"},
                      {"role": "user", "content": "Topic: " + topic + ". Target Audience: " + target_audience + ". Keywords: " + keywords + "Word Count: " + word_count.toString() + ". Language: " + language},
                    ],
          "temperature": 0.7,
          "max_tokens": 2000,
          "top_p": 1,
          "frequency_penalty":0,
          "presence_penalty":0,
        };

        console.log(requestData)

        await fetch(url, {
          method: "POST",
          headers: headers,
          body: JSON.stringify(requestData)
        })
        .then(response => response.json())
        .then((data) => {
            console.log(data)
            document.getElementById('generated-text').value = data['choices'][0]['message']['content'].replace(/["]+/g, '')
            document.getElementById('generated-text').removeAttribute("hidden");
            show_hide_loader()
            //document.getElementById('keywords-insert').value = data['choices'][0]['message']['content']

            //update_words(data)
            
        })
        .catch(error => console.error(error));
        
    }

    // BLOG-IDEAS
    async function smartcopy_blog_ideas(service_id, gpt, url, headers, topic, target_audience, keywords, language){
        const requestData = {
          "model": "gpt-3.5-turbo",
          "messages": [
                      {"role": "system", "content": "You are a blog writer"},
                      {"role": "user", "content": "Make a list of 15 blog article ideas" },
                      {"role": "user", "content": "Topic: " + topic + ". Target Audience: " + target_audience + ". Keywords: " + keywords  + ". Language: " + language},
                    ],
          "temperature": 0.7,
          "max_tokens": 300,
          "top_p": 1,
          "frequency_penalty":0,
          "presence_penalty":0,
        };

        console.log(requestData)

        await fetch(url, {
          method: "POST",
          headers: headers,
          body: JSON.stringify(requestData)
        })
        .then(response => response.json())
        .then((data) => {
            console.log(data)
            document.getElementById('generated-text').value = data['choices'][0]['message']['content'].replace(/["]+/g, '')
            document.getElementById('generated-text').removeAttribute("hidden");
            show_hide_loader()
            //document.getElementById('keywords-insert').value = data['choices'][0]['message']['content']

            //update_words(data)
            
        })
        .catch(error => console.error(error));
        
    }
    async function smartcopy_check_plagiarism(service_id, gpt, url, headers, text){
        const requestData = {
          "model": "gpt-3.5-turbo",
          "messages": [
                      {"role": "system", "content": "You are a plagiarism checker"},
                      {"role": "user", "content": "check plagiarism in this text and highlight parts that are plagiarized:" },
                      {"role": "user", "content": text },
                    ],
          "temperature": 0.7,
          "max_tokens": 200,
          "top_p": 1,
          "frequency_penalty":0,
          "presence_penalty":0,
        };

        console.log(requestData)

        await fetch(url, {
          method: "POST",
          headers: headers,
          body: JSON.stringify(requestData)
        })
        .then(response => response.json())
        .then((data) => {
            console.log(data)
            document.getElementById('generated-text').value = data['choices'][0]['message']['content'].replace(/["]+/g, '')
            document.getElementById('generated-text').removeAttribute("hidden");
            show_hide_loader()
            //document.getElementById('keywords-insert').value = data['choices'][0]['message']['content']

            //update_words(data)
            
        })
        .catch(error => console.error(error));
        
    }


    async function smartcopy_write_facebook_ads(service_id, gpt, url, headers, topic, target_audience, keywords, tone, word_count, n_copies, emoji, bullet_list, language){
        const requestData = {
          "model": "gpt-3.5-turbo",
          "messages": [
                      {"role": "system", "content": "You are a facebook ads writer"},
                      {"role": "user", "content": "Write a " + tone + " facebook ads"},
                      {"role": "user", "content": "Topic: " + topic + ". Target Audience: " + target_audience + ". Keywords: " + keywords + "Word Count: " + word_count.toString()  + ". Language: " + language + ".  Style: " + emoji + bullet_list},
                    ],
          "temperature": 0.7,
          "max_tokens": 2000,
          'n': parseInt(n_copies),
          "top_p": 1,
          "frequency_penalty":0,
          "presence_penalty":0,
        };

        console.log(requestData)

        await fetch(url, {
          method: "POST",
          headers: headers,
          body: JSON.stringify(requestData)
        })
        .then(response => response.json())
        .then((data) => {
            console.log(data)
            multiple_copies_div = document.getElementById('multiple-copies')

            data['choices'].forEach((option) => {
                console.log(option)
                multiple_copies_div.innerHTML += '<textarea name="generated-text-area" class="textarea-gpt" rows="10" cols="50">' + option['message']['content'].replace(/["]+/g, '') + '</textarea>'        
            })
            show_hide_loader()
            //document.getElementById('keywords-insert').value = data['choices'][0]['message']['content']

            //update_words(data)
            
        })
        .catch(error => console.error(error));
    }

    async function smartcopy_facebook_post(service_id, gpt, url, headers, topic, target_audience, keywords, tone, word_count, n_copies, emoji, bullet_list, language){
        const requestData = {
          "model": "gpt-3.5-turbo",
          "messages": [
                      {"role": "system", "content": "You are a social media manager"},
                      {"role": "user", "content": "Write a " + tone + " facebook post"},
                      {"role": "user", "content": "Topic: " + topic + ". Target Audience: " + target_audience + ". Keywords: " + keywords + "Word Count: " + word_count.toString()  + ". Language: " + language + ".  Style: " + emoji + bullet_list},
                    ],
          "temperature": 0.7,
          "max_tokens": 2000,
          'n': parseInt(n_copies),
          "top_p": 1,
          "frequency_penalty":0,
          "presence_penalty":0,
        };

        console.log(requestData)

        await fetch(url, {
          method: "POST",
          headers: headers,
          body: JSON.stringify(requestData)
        })
        .then(response => response.json())
        .then((data) => {
            console.log(data)
            multiple_copies_div = document.getElementById('multiple-copies')

            data['choices'].forEach((option) => {
                console.log(option)
                multiple_copies_div.innerHTML += '<textarea name="generated-text-area" class="textarea-gpt" rows="10" cols="50">' + option['message']['content'].replace(/["]+/g, '') + '</textarea>'        
            })
            show_hide_loader()
            //document.getElementById('keywords-insert').value = data['choices'][0]['message']['content']

            //update_words(data)
            
        })
        .catch(error => console.error(error));
    }


    async function smartcopy_facebook_post_ideas(service_id, gpt, url, headers, topic, target_audience, keywords, language){
        const requestData = {
          "model": "gpt-3.5-turbo",
          "messages": [
                      {"role": "system", "content": "You are a social media manager"},
                      {"role": "user", "content": "Make a list of 10 topics for a facebook post ideas" },
                      {"role": "user", "content": "Topic: " + topic + ". Target Audience: " + target_audience + ". Keywords: " + keywords  + ". Language: " + language},
                    ],
          "temperature": 0.7,
          "max_tokens": 1000,
          "top_p": 1,
          "frequency_penalty":0,
          "presence_penalty":0,
        };

        console.log(requestData)

        await fetch(url, {
          method: "POST",
          headers: headers,
          body: JSON.stringify(requestData)
        })
        .then(response => response.json())
        .then((data) => {
            console.log(data)
            document.getElementById('generated-text').value = data['choices'][0]['message']['content'].replace(/["]+/g, '')
            document.getElementById('generated-text').removeAttribute("hidden");
            show_hide_loader()
            //document.getElementById('keywords-insert').value = data['choices'][0]['message']['content']

            //update_words(data)
            
        })
        .catch(error => console.error(error));
        
    }

    async function smartcopy_write_instagram_post(service_id, gpt, url, headers, topic, target_audience, keywords, tone, word_count, n_copies, emoji, bullet_list, language){
        const requestData = {
          "model": "gpt-3.5-turbo",
          "messages": [
                      {"role": "system", "content": "You are a instagram post writer"},
                      {"role": "user", "content": "Write a " + tone + " instagram post"},
                      {"role": "user", "content": "Topic: " + topic + ". Target Audience: " + target_audience + ". Keywords: " + keywords + "Word Count: " + word_count.toString()  + ". Language: " + language + ".  Style: " + emoji + bullet_list},
                    ],
          "temperature": 0.7,
          "max_tokens": 2000,
          'n': parseInt(n_copies),
          "top_p": 1,
          "frequency_penalty":0,
          "presence_penalty":0,
        };

        console.log(requestData)

        await fetch(url, {
          method: "POST",
          headers: headers,
          body: JSON.stringify(requestData)
        })
        .then(response => response.json())
        .then((data) => {
            console.log(data)
            multiple_copies_div = document.getElementById('multiple-copies')

            data['choices'].forEach((option) => {
                console.log(option)
                multiple_copies_div.innerHTML += '<textarea name="generated-text-area" class="textarea-gpt" rows="10" cols="50">' + option['message']['content'].replace(/["]+/g, '') + '</textarea>'        
            })
            show_hide_loader()
            //document.getElementById('keywords-insert').value = data['choices'][0]['message']['content']

            //update_words(data)
            
        })
        .catch(error => console.error(error));
    }

    async function smartcopy_write_instagram_tags(service_id, gpt, url, headers, topic, target_audience, keywords, language){
        const requestData = {
          "model": "gpt-3.5-turbo",
          "messages": [
                      {"role": "system", "content": "You are an expert social media manager"},
                      {"role": "user", "content": "Write 20 instagram tags in a single line"},
                      {"role": "user", "content": "Topic: " + topic + ". Target Audience: " + target_audience + ". Keywords: " + keywords + ". Language: " + language },
                    ],
          "temperature": 0.7,
          "max_tokens": 250,
          "top_p": 1,
          "frequency_penalty":0,
          "presence_penalty":0,
        };

        console.log(requestData)

        await fetch(url, {
          method: "POST",
          headers: headers,
          body: JSON.stringify(requestData)
        })
        .then(response => response.json())
        .then((data) => {
            console.log(data)
            multiple_copies_div = document.getElementById('multiple-copies')

            data['choices'].forEach((option) => {
                console.log(option)
                multiple_copies_div.innerHTML += '<textarea name="generated-text-area" class="textarea-gpt" rows="10" cols="50">' + option['message']['content'].replace(/["]+/g, '') + '</textarea>'        
            })
            show_hide_loader()
            //document.getElementById('keywords-insert').value = data['choices'][0]['message']['content']

            //update_words(data)
            
        })
        .catch(error => console.error(error));
    }

    async function smartcopy_write_google_ads_title(service_id, gpt, headers, topic, target_audience, keywords, tone, word_count){
        
    }

    async function smartcopy_write_google_ads_description(service_id, gpt, headers, topic, target_audience, keywords, tone, word_count){
        
    }








    function show_hide_loader(){
        let spinner = document.getElementById("loader-smartcopy")
        if (spinner.hidden == true){
            spinner.removeAttribute('hidden')
        }else{
            spinner.setAttribute('hidden', 'hidden')
        }
    }

    function set_copy_style(feature, boolean_val){
        if (feature == "emoji"){
            if (boolean_val == true){
                return "Use emoji"
            }else{
                return " Do not use emoji "
            }
        }else if (feature == "bullet_list"){
            if (boolean_val == true){
                return "Use bullet list"
            }else{
                return " Do not use bullet list "
            }
        }
    }

</script>
    
{% endblock %}
