{% extends 'mainapp/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}


<!-- SHOW/HIDE ACTIONS PANEL-->
<div class="standard-command-container">
  <h3><b>{{user.woocommerce_store_name}}</b></h3>
  <p>
    {{user.woocommerce_host}}
  </p>
  <div style="text-align: center; margin-bottom:1em;">
    <button id="open-actions-panel-button" class="btn" onclick="control_actions_panel()">
      <i class="fa fa-sort-desc fa-2x"></i>
    </button>
    <button id="close-actions-panel-button" class="btn" hidden="hidden" onclick="control_actions_panel()">
      <i class="fa fa-sort-asc fa-2x"></i>
    </button>
  </div>
  
  <!--NEW COMMAND PANEL-->
<div id="actions-panel" hidden="hidden">

  <div class="row" style="margin-top:2em;">
    <div class="col-4">
          <label for="action-dropdown">Actions:</label>
            <select class="form-select" name="action-dropdown" id="action-options">
              <option value="none" selected="selected"></option>
              <option value="edit">Edit</option>
              <option value="create-reviews">Create reviews</option>
              <option value="delete">Delete</option> 
            </select>
            <div style="text-align: center;margin-top:1em;">
              <button class="standard-button" id="OpenModalActions" onclick="open_modal_action()">Execute</button>
            </div>
    
          
    </div>
    <div class="col-4">
        <form action="woocommerce-update-descriptions-bulk" method="POST">
          {% csrf_token %}
          <div class="row">

              <div class="button" style="text-align: center; margin-top:2em">
                  <input class="standard-button" id='' type="submit" value="Update descriptions" name="">
              </div>

          </div>
          <input type="hidden" id="selected-items-dict" name="selected-items-dict" value="{{selected_items_dict}}">
        </form>
    </div>
    <div class="col-4">

    </div>
  </div>
</div>
</div>


<table class="inventory-table" id="inventory-table">
  <div style="text-align:right; margin-right:1em;">
    <button id='select-all-button' class="standard-button" onclick="select_deselect_all_rows()" >Select all</button> 
    <button id='deselect-all-button' class="standard-button" hidden='hidden'  onclick="select_deselect_all_rows()" >Deselect all</button> 
  </div>
    <tr class="tr-header">
      <th></th>
      <th></th>
      <th>SKU</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  
    {% for product in products %}
    <tr class="tr-standard">
      <td class="td-id">{{product.id}}</td>
      <td class="td-standard"><img src={{product.mainImage}} alt="" width="100" height="100"></td>
      <td class="td-standard">{{product.sku}}</td>
      <td class="td-name">{{product.name}}</td>
      <td class="td-standard">
        <div class="button" style="text-align: center;margin-bottom:1em;">
            <button class="social-instagram-button" id="open-instagram-modal-{{product.id}}" onClick="retrieve_button_id_and_show_modal(this.id)">Post on Instagram</button>
        </div>
      </td>
      <td class="td-standard">
        <div class="button" style="text-align: center;margin-bottom:1em;">
            <button class="social-facebook-button" id="open-instagram-modal">Post on Facebook</button>
        </div>
      </td>
      <td class="td-standard"><input type="checkbox" name="checkbox-item" onchange="select_rows()"/>&nbsp;</td>
      <td class="td-standard"><a style='color:rgb(65, 134, 255)' href={{product.url}} target="_blank" rel="follow">URL</a></td>
      <td class="td-standard"><a style='color:rgb(239, 57, 57)' href="">Delete from Woocommerce</a></td>
  
    </tr>
    {% endfor %}
  
  </table>

  <!-- INSTAGRAM CREATE POST MODAL  -->
  <div id="modal-instagram" class="modal-container">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="modal-description">
        <h5><b>Create Instagram Post</b></h5>
      </div>
      <div id="" style="margin-top: 1em">
        <!-- INSTAGRAM POST SETUP FORM-->
        <form action="instagram-create-post" method="post">
        {% csrf_token %}
          <div class="row">
            {{ig_post_setup_form|crispy}}

          </div>
          <!-- INSTAGRAM POST CREATE BUTTON -->
          <div class="row">
            <div class="col-12" style="text-align:center;">
                <div class="button" style="text-align: center;">
                    <input class="social-instagram-button" style="margin-bottom: 0px !important;" id='create-ig-post' type="submit" value="Publish Now" name="create-ig-post">
                    <p>
                        <small></small>
                    </p>
                    <input type="hidden" id="ig-selected-item" name="ig-selected-item" value="{{ig_selected_item}}">
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="{% static 'woocommerce_utils.js' %}"></script>
  <script>
    function select_deselect_all_rows() {
    //var rows = document.getElementsByTagName("table")[0].rows;
    var rows_checked = document.getElementsByName("checkbox-item")
    let select_all_button = document.getElementById("select-all-button");
    let deselect_all_button = document.getElementById("deselect-all-button");

    let hidden = select_all_button.getAttribute("hidden");

    if (hidden) {
        select_all_button.removeAttribute("hidden");
        deselect_all_button.setAttribute("hidden", "hidden");
        rows_checked.forEach((checkbox) => {
            checkbox.checked = false;
        });
     } else {
        select_all_button.setAttribute("hidden", "hidden");
        deselect_all_button.removeAttribute("hidden");
        rows_checked.forEach((checkbox) => {
            checkbox.checked = true;
        });
     }

    select_rows()
}

function select_rows() {
    console.log('ciao')
    var rows = document.getElementsByTagName("table")[0].rows;
    var rows_checked = document.getElementsByName("checkbox-item")
    console.log(rows_checked)
    var woocommerce_id_list = []
    var sku_list = []
    var selected_items_dict = []
    for (let i = 0; i < rows_checked.length; i++) {
        var is_checked = rows_checked[i].checked;
        console.log(is_checked)
        if (is_checked==true){
            var r = rows[i+1];
            //woocommerce-id
            var c = r.cells[0];
            var woocommerce_id = c.innerHTML
            woocommerce_id_list.push(woocommerce_id)

            //skus
            var c = r.cells[2];
            var sku = c.innerHTML
            sku_list.push(sku)
            
            make_dict_string = '{"woocommerce_id" : "' + woocommerce_id + '", "sku" : "' + sku  + '"}' ;
            selected_items_dict.push(make_dict_string);

        }
        //var cell = row.cells[3];
        //var value = cell.innerHTML;
        //print(value)
    }


    document.getElementById("selected-items-dict").value = "[" + selected_items_dict + "]"
    console.log(document.getElementById("selected-items-dict").value)
    //console.log('ciao')
    //document.getElementById("selecteditems").value = sku_list;
      }
  </script>
{% endblock %}