{% extends 'mainapp/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}


<div style="text-align:center;">
    <h1><b></b></h1><br>
    <div class="row justify-content-center" style="margin-bottom:2em;">
        <div class="col-xl-7 col-lg-9 text-center">
          <iframe width="720" height="420"
          src="https://www.youtube.com/embed/wGdodz6ck7g">
          </iframe>
        </div>
      </div>
      
        <p><button class="standard-button"><a style="color:aliceblue" href="{% url 'registration' %}">Start Now</a></button> <br>
          <a href="{% url 'login' %}">Log In</a></p>
      
      <div class="card-deck">
        <div class="index-card shadow card">
          <div class="index-card-body card-body">
            <i class="index-icon fa-solid fa-warehouse fa-2x"></i>
            <h5 class="index-card-title card-title" ><b>Million of products</b></h5>
            <p class="index-card-text card-text">Choose from millions of products selected among verified suppliers and offered at a wholesale price.</p>
            <p class="index-learn-more"><a href="">Learn more</a></p>
            
          </div>
        </div>
        <div class="index-card shadow card">
          <div class="index-card-body card-body">
            <i class="index-icon fa-solid fa-solid fa-shop fa-2x"></i>
            <h5 class="index-card-title card-title"><b>Connect to your Store</b></h5>
            <p class="index-card-text card-text">Synchronize with your store or create a new one. Publish and edit each product individually or in bulk with just a few clicks.</p>
            <p class="index-learn-more"><a href="">Learn more</a></p>
          </div>
        </div>
        <div class="index-card shadow card">
            <div class="index-card-body card-body">
              <i class="index-icon fa-solid fa-link fa-2x"></i>
              <h5 class="index-card-title card-title"><b>Connect to Marketplaces</b></h5>
              <p class="index-card-text card-text">Connect to popular marketplaces to give your products more visibility and increase sales.</p>
              <p class="index-learn-more"><a href="">Learn more</a></p>
            </div>
          </div>
        <div class="index-card shadow card">
            <div class="index-card-body card-body">
              <i class="index-icon fa-solid fa-robot fa-2x"></i>
              <h5 class="index-card-title card-title"><b>AI-Powered Marketing</b></h5>
              <p class="index-card-text card-text">Save up to 80% of time using AI to help you write product sheets, SEO-optimized headlines, blog articles, advertisements, and more</p>
              <p class="index-learn-more"><a href="">Learn more</a></p>
            </div>
          </div>
      </div>
      <!--seocnd row-->
      <div class="card-deck">
        <div class="index-card shadow card">
          <div class="index-card-body card-body">
            <i class="index-icon fa-solid fa-truck-fast fa-2x"></i>
            <h5 class="index-card-title card-title" ><b>Automated order fulfillment</b></h5>
            <p class="index-card-text card-text">Enjoy automated order fulfillment and track your shipments to provide quality service to your customers.</p>
            <p class="index-learn-more"><a href="">Learn more</a></p>
            
          </div>
        </div>
        <div class="index-card shadow card">
          <div class="index-card-body card-body">
            <i class="index-icon fa-solid fa-solid fa-photo-film fa-2x"></i>
            <h5 class="index-card-title card-title"><b>Connect your social media</b></h5>
            <p class="index-card-text card-text">Connect your account with your business's social media and automate posts and advertisements..</p>
            <p class="index-learn-more"><a href="">Learn more</a></p>
          </div>
        </div>
        <div class="index-card shadow card">
            <div class="index-card-body card-body">
              <i class="index-icon fa-solid fa-chart-simple fa-2x"></i>
              <h5 class="index-card-title card-title"><b>Explore trends</b></h5>
              <p class="index-card-text card-text">Explore Google search data to indentify trends and improve your store's position in search results..</p>
              <p class="index-learn-more"><a href="">Learn more</a></p>
            </div>
          </div>
        <div class="index-card shadow card">
          <div class="index-card-body card-body">
            <i class="index-icon fa-solid fa-chess-knight fa-2x"></i>
            <h5 class="index-card-title card-title"><b>Pricing strategy</b></h5>
            <p class="index-card-text card-text">Compare product prices from all retailers and build the best pricing strategy for your products.</p>
            <p class="index-learn-more"><a href="">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="standard-command-container" style="text-align: left; margin-top: 50px !important;">
        <h5 style="margin-bottom:15px;">What is Dropshipping?</h5>
        <p>Dropshipping is a retail fulfillment method where a store doesn't keep the products it sells in stock. Instead, when a store sells a product, 
          it purchases the item from a third party and has it shipped directly to the customer. One of the major advantages of dropshipping is that it's
          possible to launch an ecommerce store without having to invest thousands of dollars in inventory up front. Starting a dropshipping business is 
          therefore a low-cost investment, allowing you to start it from anywhere and sell worldwide. </p>
      </div>
      <div class="standard-command-container" style="text-align: left; margin-top: 25px !important;">
        <h5 style="margin-bottom:15px;">Why SellFast?</h5>
        <p>As dropshippers we are well aware of the problems faced by those who decide to use this business model. Although it may seem 
          simple there are many factors to consider when deciding to start a dropshipping e-commerce business. The first problem is finding a supplier for your products. 
          And not just any supplier, but one that will guarantee you quality, low prices and proper shipping times. 
          There are also a lot of marketing activities needed to start making your first sales. Not to mention the time it takes to research products, 
          import them into your e-commerce or marketplaces and manage orders. All activities that if done manually take quite a bit of time.</p>

          <p>That's why SellFast offers an all-in-one solution for handling all these activities automating each process as much as possible, but still leaving 
            the ability to edit in detail each product. </p>
      </div>
            
    </div>
</div>


{% endblock %}