{% extends 'mainapp/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}


<!--
<style>
  body {
    background-image: url("{% static 'futuristic-artifical-intelligence-background.png' %}");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  </style>
-->
<div style="text-align:center;">
    <!--<div id="text-headline-1" style="color: #005fc4; font-family: Casanova Scotia; font-size:27px; margin-top:4em"></div>-->
    <div class="ct-section-inner-wrap">
      <div style="font-family:Comic Sans MS; margin-top: 3em; margin-bottom: 2em;"><br></div>
      <h1 id="headline-13-10" style="font-family: Impact; margin-bottom: 1em;">Welcome to <span style="color: #026de0;">SELLFAST</span><br></h1>
      <h2 id="headline-14-10" style="font-family: Impact; margin-bottom: 1em;">Automate Your Dropshipping And Generate Content with A.I.</h2>
      <div id="text_block-18-10" style="font-family: Impact; margin-bottom: 2em;">REVOLUTIONIZE YOUR ECOMMERCE BUSINESS WITH OUR AI-POWERED SAAS FOR AUTOMATION AND CONTENT GENERATION<br></div>
      <a id="link_button-20-10" class="standard-button" href="{% url 'registration' %}" target="_self">Create Your Free Account </a>
   </div>      
      <div class="card-deck" style="margin-top:5em;">
        <div class="index-card shadow card">
          <div class="index-card-body card-body">
            <i class="index-icon fa-solid fa-warehouse fa-2x"></i>
            <h5 class="index-card-title card-title" ><b>Millions of products</b></h5>
            <p class="index-card-text card-text">Choose from millions of products and import them with one click.</p>
            <p class="index-learn-more"><a href="">Learn more</a></p>
          </div>
        </div>
          <div class="index-card shadow card">
            <div class="index-card-body card-body">
              <i class="index-icon fa-solid fa-eur fa-2x"></i>
              <h5 class="index-card-title card-title" ><b>EU Suppliers</b></h5>
              <p class="index-card-text card-text">We look for the best EU suppliers and make them available for you.</p>
              <p class="index-learn-more"><a href="">Learn more</a></p>
            </div>
          </div>
        <div class="index-card shadow card">
          <div class="index-card-body card-body">
            <i class="index-icon fa-solid fa-solid fa-shop fa-2x"></i>
            <h5 class="index-card-title card-title"><b>Connect to your Store</b></h5>
            <p class="index-card-text card-text">Connect your WooCommerce or Shopify store.</p>
            <p class="index-learn-more"><a href="">Learn more</a></p>
          </div>
        </div>
        <div class="index-card shadow card">
          <div class="index-card-body card-body">
            <i class="index-icon fa-solid fa-robot fa-2x"></i>
            <h5 class="index-card-title card-title"><b>Integrated GPT-4</b></h5>
            <p class="index-card-text card-text">Use AI to write product descriptions, SEO headlines, blog articles, ads and more</p>
            <p class="index-learn-more"><a href="">Learn more</a></p>
          </div>
        </div>
        </div>
        <div class="card-deck" style="margin-top:5em;">
        <div class="index-card shadow card">
            <div class="index-card-body card-body">
              <i class="index-icon fa-solid fa-link fa-2x"></i>
              <h5 class="index-card-title card-title"><b>Multi-ecommerce management</b></h5>
              <p class="index-card-text card-text">Connect multiple ecommerce stores and easily manage them.</p>
              <p class="index-learn-more"><a href="">Learn more</a></p>
            </div>
          </div>
          <div class="index-card shadow card">
            <div class="index-card-body card-body">
              <i class="index-icon fa-solid fa-truck-fast fa-2x"></i>
              <h5 class="index-card-title card-title" ><b>Automated order fulfillment</b></h5>
              <p class="index-card-text card-text">Automate order fulfillment and track your shipments.</p>
              <p class="index-learn-more"><a href="">Learn more</a></p>
              
            </div>
          </div>
          <div class="index-card shadow card">
            <div class="index-card-body card-body">
              <i class="index-icon fa-solid fa-share-square fa-2x"></i>
              <h5 class="index-card-title card-title" ><b>Social media</b></h5>
              <p class="index-card-text card-text">Link your social media and schedule posting.</p>
              <p class="index-learn-more"><a href="">Learn more</a></p>
              
            </div>
          </div>
          <div class="index-card shadow card">
            <div class="index-card-body card-body">
              <i class="index-icon fa-solid fa-trophy fa-2x"></i>
              <h5 class="index-card-title card-title" ><b>Winning Products</b></h5>
              <p class="index-card-text card-text">Find winning products with our software.</p>
              <p class="index-learn-more"><a href="">Learn more</a></p>
              
            </div>
          </div>
        </div>
      </div>
      <!--
      <div class="card-deck">
        <div class="index-card shadow card">
          <div class="index-card-body card-body">
            <i class="index-icon fa-solid fa-truck-fast fa-2x"></i>
            <h5 class="index-card-title card-title" ><b>Automated order fulfillment</b></h5>
            <p class="index-card-text card-text">Enjoy automated order fulfillment and track your shipments to provide quality service to your customers.</p>
            <p class="index-learn-more"><a href="">Learn more</a></p>
            
          </div>
        </div>
        <div class="index-card shadow card">
          <div class="index-card-body card-body">
            <i class="index-icon fa-solid fa-solid fa-photo-film fa-2x"></i>
            <h5 class="index-card-title card-title"><b>Connect your social media</b></h5>
            <p class="index-card-text card-text">Connect your account with your business's social media and automate posts and advertisements..</p>
            <p class="index-learn-more"><a href="">Learn more</a></p>
          </div>
        </div>
        <div class="index-card shadow card">
            <div class="index-card-body card-body">
              <i class="index-icon fa-solid fa-chart-simple fa-2x"></i>
              <h5 class="index-card-title card-title"><b>Explore trends</b></h5>
              <p class="index-card-text card-text">Explore Google search data to indentify trends and improve your store's position in search results..</p>
              <p class="index-learn-more"><a href="">Learn more</a></p>
            </div>
          </div>
        <div class="index-card shadow card">
          <div class="index-card-body card-body">
            <i class="index-icon fa-solid fa-chess-knight fa-2x"></i>
            <h5 class="index-card-title card-title"><b>Pricing strategy</b></h5>
            <p class="index-card-text card-text">Compare product prices from all retailers and build the best pricing strategy for your products.</p>
            <p class="index-learn-more"><a href="">Learn more</a></p>
          </div>
        </div>
      </div>-->
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Starter</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">€0<small class="text-muted fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>WooCommerce</li>
                <li>Shopify</li>
                <li>CJDropshipping</li>
                <li>GPT-4 10,000 words/month</li>
                <li>Email Support</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary"><a href="{% url 'registration' %}">Start for free</a></button>
            </div>
          </div>
        </div> 
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Basic</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">€9.99<small class="text-muted fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>WooCommerce</li>
                <li>Shopify</li>
                <li>Ebay</li> 
                <li>CJDropshipping</li>
                <li>AliExpress</li>
                <li>European Suppliers</li>
                <li>GPT-4 UNLIMITED words</li>
                <li>Premium Support</li>
                <li>New features coming soon &#128526;</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary"><a href="{% url 'registration' %}">Start</a></button>
            </div>
          </div>
        </div>
      </div>


      <div style="text-align: center;">
        <p style="margin-top:5em;"><button class="standard-button" style="width: 50% !important;"><a style="color:aliceblue" href="{% url 'registration' %}">Start, it's free</a></button> <br>
          <a href="{% url 'login' %}">Log In</a></p>
      </div>


      <div class="row justify-content-center" style="margin-top:5em;">
        <div class="col-xl-7 col-lg-9 text-center">
          <iframe width="100%" height="420px"
          src="https://www.youtube.com/embed/8bHteW5hXcU">
          </iframe>
        </div>
      </div>

            
    </div>

<script>


var text = 'Automate boring stuff,  focus on growing your business';
var item = document.getElementById("text-headline-1");

function typeText(item, text, delay, i) {
    $(item).append(text.charAt(i))
        .delay(delay)
        .promise()
        .done(function() {
          if(i<text.length) {
            i++;
            typeText(item, text, delay, i);  
          }
    });
}


(function loop() {
  typeText(item, text, 100, 0)
})();



</script>
{% endblock %}