{% extends 'mainapp/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}


<!--
<style>
  body {
    background-image: url("{% static 'futuristic-artifical-intelligence-background.png' %}");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  </style>
-->
<div class="standard-command-container">
<div style="text-align:center;">
    <!--<div id="text-headline-1" style="color: #005fc4; font-family: Casanova Scotia; font-size:27px; margin-top:4em"></div>-->
    <div class="card-deck" style="margin-top:2em;">
      <div class="card" style="border: none; background-color: #ffffff;">
    <div class="ct-section-inner-wrap">
      <div style="font-family:Comic Sans MS; margin-top: 2em; margin-bottom: 2em;"><br></div>
      <!--<h1 id="headline-13-10" style="font-family: Impact; margin-bottom: 1em;"> <span style="color: #026de0;"></span><br></h1>-->
      <h2 id="headline-14-10" style="font-family: Impact; margin-bottom: 1em; ">Automate Your eCommerce, Import New Products, Analyze Trends And Competitors, Generate Content For Your Marketing Channels</h2>
      <div id="text_block-18-10" style="font-family: Impact; margin-bottom: 3em;">ALL IN ONE PLATFORM<br></div>
      <button type="button" class="standard-button"><a href="{% url 'registration' %}" style="color:white; font-size: 18px;padding: 2px;">Create Your Free Account</a></button>
   </div>
   </div>
   <div class="card" style="border: none; background-color: #ffffff;">
    <div class="ct-section-inner-wrap">
      <iframe width="90%" height="420px"
          src="https://www.youtube.com/embed/8bHteW5hXcU">
          </iframe>
   </div>
   </div>
  </div>

   

  <div class="card-deck" style="margin-top:3em;">
    <div class="card" style="border: none; background-color: #ffffff;">
      <div class="card-body">
        <h5 class="" style="font-family: Impact; letter-spacing: 3px; color: #026de0; text-align: center"><b>EXCLUSIVE OFFERINGS FROM TRUSTWORTHY SUPPLIERS</b></h5>
        <p class="index-card-text card-text" style="font-family: rubik,sans-serif; text-align: center; margin-top: 1em;"><i>Does your supplier not have the product you are looking for?</i><br><br>Choose products from different suppliers. Import products from popular suppliers such as <b>CJ Dropshipping</b> and <b>Aliexpress</b>. And if you want even better service with quality products and shipping within days, we can connect you with <b>Premium suppliers</b></p>
      </div>
    </div>
  </div>

   <div class="card-deck" style="margin-top:2em;">
    <div class="card" style="border: none; background-color: #ffffff;">
      <div class="card-body">
        <h5 class="" style="font-family: Impact; letter-spacing: 3px; color: #026de0; text-align: center"><b>AUTOMATED FULFILLMENT & ORDER PROCESSING</b></h5>
        <p class="index-card-text card-text" style="font-family: rubik,sans-serif; text-align: center; margin-top: 1em;"><i>Tired of spending countless hours manually processing orders for your business?</i><br><br>Automate the entire process of order fulfillment. With just a few clicks, you can easily process orders from your store. With the <b>Autopilot</b> function you don't even need to open your account, or you can choose to maintain more control and check if the customer has inserted all data.</p>
      </div>
    </div>
  </div>
  <div class="card-deck" style="margin-top:2em;">
    <div class="card" style="border: none; background-color: #ffffff;">
      <div class="card-body">
        <h5 class="" style="font-family: Impact; letter-spacing: 3px; color: #026de0; text-align: center"><b>EASILY INTEGRATES WITH YOUR STORE</b></h5>
        <p class="index-card-text card-text" style="font-family: rubik,sans-serif; text-align: center; margin-top: 1em;"><i>You don't need technical skills</i><br><br>Easily integrate with popular eCommerce platforms, including <b>Shopify</b> and <b>WooCommerce</b>. No need for technical knowledge - our user-friendly interface makes it easy to connect your store in just a few clicks.</p>
      </div>
    </div>
  </div> 
  
  <div class="card-deck" style="margin-top:2em;">
    <div class="card" style="border: none; background-color: #ffffff;">
      <div class="card-body">
        <h5 class="" style="font-family: Impact; letter-spacing: 3px; color: #026de0; text-align: center"><b>ANALYZE TRENDS IN REAL TIME</b></h5>
        <p class="index-card-text card-text" style="font-family: rubik,sans-serif; text-align: center; margin-top: 1em;"><i>Leverage trends to increase your sales</i><br><br>Use our software to search products online and on popular marketplaces. Our web scraping and analysis service extracts data from various websites and provides <b>trends</b> and <b>insights</b> in a concise report.</p>
      </div>
    </div>
  </div>

  <div class="card-deck" style="margin-top:2em;">
    <div class="card" style="border: none; background-color: #ffffff;">
      <div class="card-body">
        <h5 class="" style="font-family: Impact; letter-spacing: 3px; color: #026de0; text-align: center"><b>SPY COMPETITORS</b></h5>
        <p class="index-card-text card-text" style="font-family: rubik,sans-serif; text-align: center; margin-top: 1em;"><i>Need data on who is selling your product in your location?</i><br><br>Our product matching and sales tracking service allows you to see which stores carry the same products as you and how many of those products they have sold, giving you valuable insights into your <b>competition</b> and <b>market trends</b>.</p>
      </div>
    </div>
  </div>

  <div class="card-deck" style="margin-top:2em;">
    <div class="card" style="border: none; background-color: #ffffff;">
      <div class="card-body">
        <h5 class="" style="font-family: Impact; letter-spacing: 3px; color: #026de0; text-align: center"><b>GENERATE CONTENT FOR YOUR MARKETING CHANNELS</b></h5>
        <p class="index-card-text card-text" style="font-family: rubik,sans-serif; text-align: center; margin-top: 1em;"><i>You can't use Aliexpress descriptions but you can't also waste time rewriting description.</i><br><br>Our content generation service creates engaging and informative marketing content for your various channels, including <b>product sheets</b>, <b>social media</b> and <b>email campaigns</b>.</p>
      </div>
    </div>
  </div>

  <div class="card-deck" style="margin-top:2em;">
    <div class="card" style="border: none; background-color: #ffffff;">
      <div class="card-body">
        <h5 class="" style="font-family: Impact; letter-spacing: 3px; color: #026de0; text-align: center"><b>ONE-CLICK PUBLISH WITH PRICE RULES</b></h5>
        <p class="index-card-text card-text" style="font-family: rubik,sans-serif; text-align: center; margin-top: 1em;"><i>Optimize pricing and go online faster.</i><br><br>With just one click, <b>import</b> one or multiple products to your eCommerce platform and set up <b>price rules</b> to optimize your pricing. For example, you can set a minimum price or round all prices to 0.98</p>
      </div>
    </div>
  </div>
  
  <!-- START IN 3 STEP -->
  <h2 id="headline-14-10" style="font-family: Impact; margin-bottom: 1.7em; margin-top: 3em;">Start selling in minutes</h2>
  <div class="card-deck" style="margin-top:2em;">
    <div class="index-card shadow card">
      <div class="index-card-body card-body">
        <h5 class="" style="text-align: center;" ><b>1. Import products</b></h5>
        <i class="index-icon fas fa-list fa-2x"></i>
      </div>
    </div>
    <div class="index-card shadow card">
      <div class="index-card-body card-body">
        <h5 class="" style="text-align: center;" ><b>2. Edit products</b></h5>
        <i class="index-icon fa-solid fa-solid fa-shop fa-2x"></i>
      </div>
    </div>
    <div class="index-card shadow card">
      <div class="index-card-body card-body">
        <h5 class="" style="text-align: center;" ><b>3. Publish products</b></h5>
        <i class="index-icon fas fa-file-import fa-2x"></i>
      </div>
    </div>
    </div>
<div class="card-deck" style="margin-top:2em;">
  <div class="card" style="border: none; background-color: #ffffff;">
    <div class="card-body">
      <div style="text-align: center;">
        <h2 id="headline-14-10" style="font-family: Impact; margin-bottom: 1.7em; margin-top: 3em;">You'll get for <span style="color:#026de0">FREE</span>:</h2> 
          <p>
            Connect with <b>popular suppliers</b> or with our <b>exclusive suppliers</b>
        </p>
        <p>
          <b>Import</b> and <b>Publish</b> products simply with one click
      </p>
      <p>
        Implement strategies to <b>manage multiple products</b> simultaneously
    </p>
    <p>
      <b>Spy competitors</b> stores and popular marketplace
  </p>
  <p>
    <b>Smart Copy</b> a dedicated tool for creating text content for your sales channels
  </p>
  <p>
    Receive <b>winning products</b> recommendations and <b>trends</b>
</p>
<p>
      <b>Price rules</b> to avoid errors when publishing offers
    </p>
  <p>
    Automates <b>order placement</b>
</p>
<p style="margin-top: 3em;">
  <b>Seats are limited,

    Book yours now!</b>
</p>
<button type="button" class="standard-button"><a href="{% url 'registration' %}" style="color:white; font-size: 18px;padding: 2px;">Create Your Account</a></button>

      </div>
    </div>
  </div>
  </div>
  </div>
  
    <!-- PRICING -->
      <div style="text-align: center;">
        <div class="form-check form-switch" style="margin-left: 35px; margin-bottom: 20px; margin-top: 2em;;">
          <input class="form-check-input" name="billed_annually" default="False" type="checkbox" id="billed-annually" onchange="change_price(this.checked)">
          <label class="form-check-label" for="flexSwitchCheckDefault">Billed Annually</label>
        </div>
      </div>
      <div class="card-deck" style="margin-top:2em;">
        <div class="index-card shadow card">
          <div class="card-body" style="text-align: center; ">
            <h3>Free</h3>
            <h1 class="pricing-index-card-title">$0.00<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4" style=" text-align: left; display: inline-block;">
              <li><i class="fa-solid fa-check"></i></i> 10+ millions products</li>
              <li><i class="fa-solid fa-check"></i></i> Auto-fulfillment orders</li>
              <li><i class="fa-solid fa-check"></i></i> WooCommerce store</li>
              <li><i class="fa-solid fa-check"></i></i> Shopify store</li>
              <li><i class="fa-solid fa-check"></i></i> One-click publish products</li>
              <li><i class="fa-solid fa-check"></i></i> CJDropshipping</li>
              <li><i class="fa-solid fa-check"></i></i> Aliexpress</li>
              <li><i class="fa-solid fa-check"></i></i> GPT-4 Smart Copy</li>
              <li><i class="fa-solid fa-check"></i></i> Trends Explorer</li>
              <li><i class="fa-solid fa-check"></i></i> Spy Competitors</li>
              <li><i class="fa-solid fa-check"></i></i> Early access to all new features </li>
              <li><i class="fa-solid fa-check"></i></i> Priority Support</li>
              <li><img src="http://xzshop.eu/wp-content/uploads/2023/04/coming-soon.png" width="25px" height="25px"></i> Ebay</li>
              <li><img src="http://xzshop.eu/wp-content/uploads/2023/04/coming-soon.png" width="25px" height="25px"></i> Instagram schedule post</li>
              <li><img src="http://xzshop.eu/wp-content/uploads/2023/04/coming-soon.png" width="25px" height="25px"></i> Facebook schedule post</li>
            </ul>
            <div style="text-align: center;">
              <button type="button" class="standard-button"><a href="{% url 'registration' %}" style="color:white; font-size: 18px;padding: 2px;">Continue</a></button>

            </div>
          </div>
        </div>
        <div class="index-card shadow card">
          <div class="card-body" style="text-align: center; ">
            <h3>Basic</h3>
            <h1 class="month-plan pricing-index-card-title">$0.00<small class="text-muted fw-light">/mo</small></h1>
            <h1 class="year-plan pricing-index-card-title" hidden >$0.00<small class="text-muted fw-light">/yr</small></h1>
            <ul class="list-unstyled mt-3 mb-4" style=" text-align: left; display: inline-block;">
              <li><i class="fa-solid fa-check"></i></i> 10+ millions products</li>
              <li><i class="fa-solid fa-check"></i></i> Auto-fulfillment orders</li>
              <li><i class="fa-solid fa-check"></i></i> WooCommerce store</li>
              <li><i class="fa-solid fa-check"></i></i> Shopify store</li>
              <li><i class="fa-solid fa-check"></i></i> One-click publish products</li>
              <li><i class="fa-solid fa-check"></i></i> CJDropshipping</li>
              <li><i class="fa-solid fa-check"></i></i> Aliexpress</li>
              <li><i class="fa-solid fa-check"></i></i> GPT-4 Smart Copy</li>
              <li><i class="fa-solid fa-check"></i></i> Trends Explorer</li>
              <li><i class="fa-solid fa-check"></i></i> Spy Competitors</li>
              <li><i class="fa-solid fa-check"></i></i> Early access to all new features </li>
              <li><i class="fa-solid fa-check"></i></i> Priority Support</li>
              <li><img src="http://xzshop.eu/wp-content/uploads/2023/04/coming-soon.png" width="25px" height="25px"></i> Ebay</li>
              <li><img src="http://xzshop.eu/wp-content/uploads/2023/04/coming-soon.png" width="25px" height="25px"></i> Instagram schedule post</li>
              <li><img src="http://xzshop.eu/wp-content/uploads/2023/04/coming-soon.png" width="25px" height="25px"></i> Facebook schedule post</li>
            </ul>
            <div style="text-align: center;">
              <button type="button" class="standard-button"><a href="{% url 'registration' %}" style="color:white; font-size: 18px;padding: 2px;">Continue</a></button>

            </div>
          </div>
        </div>
        <div class="index-card shadow card">
            <div class="card-body" style="text-align: center; ">
              <h3>Premium</h3>
              <h1 class="month-plan pricing-index-card-title">$0.00<small class="text-muted fw-light">/mo</small></h1>
              <h1 class="year-plan pricing-index-card-title" hidden>$0.00<small class="text-muted fw-light">/yr</small><span style="font-size: 20px; color: red;"></span></h1>
              <ul class="list-unstyled mt-3 mb-4" style=" text-align: left; display: inline-block;"> 
                <li><i class="fa-solid fa-check"></i></i> 10+ millions products</li>
              <li><i class="fa-solid fa-check"></i></i> Auto-fulfillment orders</li>
              <li><i class="fa-solid fa-check"></i></i> WooCommerce store</li>
              <li><i class="fa-solid fa-check"></i></i> Shopify store</li>
              <li><i class="fa-solid fa-check"></i></i> One-click publish products</li>
              <li><i class="fa-solid fa-check"></i></i> CJDropshipping</li>
              <li><i class="fa-solid fa-check"></i></i> Aliexpress</li>
              <li><i class="fa-solid fa-check"></i></i> GPT-4 Smart Copy</li>
              <li><i class="fa-solid fa-check"></i></i> Trends Explorer</li>
              <li><i class="fa-solid fa-check"></i></i> Spy Competitors</li>
              <li><i class="fa-solid fa-check"></i></i> Early access to all new features </li>
              <li><i class="fa-solid fa-check"></i></i> Priority Support</li>
              <li><img src="http://xzshop.eu/wp-content/uploads/2023/04/coming-soon.png" width="25px" height="25px"></i> Ebay</li>
              <li><img src="http://xzshop.eu/wp-content/uploads/2023/04/coming-soon.png" width="25px" height="25px"></i> Instagram schedule post</li>
              <li><img src="http://xzshop.eu/wp-content/uploads/2023/04/coming-soon.png" width="25px" height="25px"></i> Facebook schedule post</li>
              </ul>
              <div style="text-align: center;">
                <button type="button" class="standard-button"><a href="{% url 'registration' %}" style="color:white; font-size: 18px;padding: 2px;">Continue</a></button>
  
              </div>
            </div>
          </div>
            <!--<form action="/create-portal-session" method="POST">
        <input type="hidden" id="session-id" name="session_id" value="" />
        <button id="checkout-and-portal-button" type="submit">Manage your billing information</button>
      </form>-->
        </div>
       <div style="text-align: center;">
        <h2 id="headline-14-10" style="font-family: Impact; margin-bottom: 1.7em; margin-top: 3em;">Made for</h2>
      </div> 
  <div class="card-deck" style="margin-top:2em;">
    <div class="index-card shadow card">
      <div class="card-body">
        <h5 class="" style="text-align: center; color: #026de0;" ><b>ECommerce owners</b></h5>
        <p>to expand their product offerings and boost their marketing strategy using trend analysis and content generation tools.</p>
      </div>
    </div>
    <div class="index-card shadow card">
      <div class="card-body">
        <h5 class="" style="text-align: center; color: #026de0;" ><b>Dropshippers</b></h5>
        <p>to speed up their business through access to multiple suppliers, automated order fulfillment, tools for winning product research and content generation</p>
      </div>
    </div>
    </div>

            
    </div>
    <!-- INTEGRATED WITH -->

        <img src="http://xzshop.eu/wp-content/uploads/2023/04/Progetto-senza-titolo-1-tagliato.png" width="100%">


<script>


var text = 'Automate boring stuff,  focus on growing your business';
var item = document.getElementById("text-headline-1");

function typeText(item, text, delay, i) {
    $(item).append(text.charAt(i))
        .delay(delay)
        .promise()
        .done(function() {
          if(i<text.length) {
            i++;
            typeText(item, text, delay, i);  
          }
    });
}

function change_price(billed_annually){
    console.log(billed_annually)
      if (billed_annually == true){
          month_plans = document.getElementsByClassName('month-plan pricing-index-card-title')
          for (let plan of month_plans) {
            plan.setAttribute('hidden', 'hidden')
          }
          year_plas = document.getElementsByClassName('year-plan pricing-index-card-title')
          console.log(year_plas)
          for (let plan of year_plas) {
            plan.removeAttribute('hidden')
          }
          change_lookup_key(billed_annually)
      }else{
        month_plans = document.getElementsByClassName('month-plan pricing-index-card-title')
          for (let plan of month_plans) {
            plan.removeAttribute('hidden')
          }
          year_plas = document.getElementsByClassName('year-plan pricing-index-card-title')
          console.log(year_plas)
          for (let plan of year_plas) {
            plan.setAttribute('hidden', 'hidden')
          }
          change_lookup_key(billed_annually)
      }
  }

  function change_lookup_key(billed_annually){
    if (billed_annually == true){
          document.getElementById('starter-lookup-key').value = 'starter-year'
          document.getElementById('business-lookup-key').value = 'business-year'
          console.log(document.getElementById('business-lookup-key').value )

      }else{
        document.getElementById('starter-lookup-key').value = 'starter-month'
          document.getElementById('business-lookup-key').value = 'business-month'
          console.log(document.getElementById('business-lookup-key').value )
        
      }
  }


(function loop() {
  typeText(item, text, 100, 0)
})();



</script>
{% endblock %}